@model List<Gift>

@{
    ViewData["Title"] = "اضافة";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    int guestReservationId = ViewBag.guestReservationId;
    var gifts = ViewData["ItemOfProducts"] as IEnumerable<ItemOfProduct>;
    int j = 1;
    int notableNormal = ViewBag.notableNormal;
    int notableNotNormal = ViewBag.notableNotNormal;

}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>الوجهاء</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-left">
                    <li class="breadcrumb-item "><a asp-controller="Home" asp-action="Index">الرئيسية</a></li>
                    <li class="breadcrumb-item "><a asp-controller="Notables" asp-route-guestReservationId="@guestReservationId" asp-action="NotablesByReservation"> الوجهاء </a></li>
                    <li class="breadcrumb-item active">      اضافة هدايا </li>

                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">
                <i class="fas fa-plus-circle"></i>
                اضافة هدايا
            </h3>

        </div>
        <div class="card-body">
            <div class="row">
                <h6 class="col-md-6 text-muted"><strong>عدد الوجهاء النوعيين</strong> ( @notableNotNormal ) </h6>
                <h6 class="col-md-6 text-muted"><strong>عدد الوجهاء العاديين</strong> ( @notableNormal ) </h6>
            </div>
         

           
            <form asp-action="Create">
                <table class="table">
                    <thead>
                        <tr>
                            <th hidden>GuestReservationId</th>
                            <th>#</th>
                            <th>الهدية</th>
                            <th>الكمية</th>
                            <th>الملاحظات</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (notableNotNormal > 0 || notableNormal > 0)
                        {
                            @for (int i = 0; i < gifts.Count(); i++)
                            {


                                <tr>
                                    <td hidden><input asp-for="@Model[i].GuestReservationId" value="@guestReservationId" class="form-control" /></td>
                                    <td>@j</td>
                                    <td>
                                        <div class="form-group">
                                            <input type="hidden" asp-for="@Model[i].ItemOfProductId" value="@gifts.ToList()[i].Id" class="form-control" />
                                            <input type="text" readonly name="show" value="@gifts.ToList()[i].Name" class="form-control" />
                                            <span asp-validation-for="@Model[i].ItemOfProductId" class="text-danger"></span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <input type="text" asp-for="@Model[i].Qty" class="form-control" />
                                            <span asp-validation-for="@Model[i].Qty" class="text-danger"></span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <input asp-for="@Model[i].Notce" class="form-control" />
                                            <span asp-validation-for="@Model[i].Notce" class="text-danger"></span>
                                        </div>
                                    </td>
                                </tr>
                                j++;
                            }
                        }
                        else
                        {
                            <tr class="text-center">
                                <td colspan="4">لم يتم تسجيل وجهاء حتى الان </td>
                            </tr>
                        }
                    </tbody>
                </table>

                @if (notableNotNormal > 0 || notableNormal > 0)
                {
                    <div class="form-group">
                        <input type="submit" value="حفظ" class="btn btn-primary" />
                    </div>
                    
                }
                </form>



         



        </div>

        <!-- /.card-body -->
        <!-- /.card-footer-->
    </div>
    <!-- /.card -->

</section>
<!-- /.content -->



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


}

